
.Tasks{
    border: 2px solid black;
    width: 250px;
    height: max-content;
    border-radius: 6px;
    background-color: white;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 0.7rem;
}

@media screen and (max-width: 1119px){
    .Tasks{
        width: 400px;
    }
    
}

@media screen and (max-width: 903px){
   
    .Tasks{
        width: 500px;
    }
    
}

@media screen and (max-width: 903px){
   
    .Tasks{
        width: 80vw;
    }
    
}